.catalog {
  padding-top: 64px;
  padding-bottom: 40px;
  background-color: $background-light;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.catalog__title {
  margin: 0;
  padding-bottom: 64px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 92px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 580px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 264px 264px;
    gap: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 1128px;
    grid-template-columns: 264px 264px 264px 264px;
    column-gap: 24px;
  }
}
