.copyright {
  width: 110px + 12px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__link {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 11px;
  line-height: 13px;
  color: $text-black;

  &:hover {
    color: $adding-light-green;
  }

  &:hover .copyright__logo {
    fill: $adding-light-green;
  }

  &:active {
    color: $accent-green;
  }

  &:active .copyright__logo {
    fill: $accent-green;
  }

  &:focus {
    outline-color: $accent-green;
  }
}

.copyright__logo {
  width: 20px;
  height: 24px;
  fill: $text-black;
}
