.form-section {
  padding-top: 50px;
  padding-bottom: 89px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 100px;
  }
}

.form-section__button-wrapper {
  width: 268px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 336px;
  }
}
