.main-nav {
  background-color: $background-medium;
  position: relative;
  z-index: 1;

  &--opened .main-nav__burger {
    display: none;
  }

  &--opened .main-nav__list-wrapper {
    background-color: $background-medium;
    position: absolute;
    top: 68px;
    left: 0;
    z-index: -1;
  }

  &--closed .main-nav__cross {
    display: none;
  }

  &--closed .main-nav__burger {
    display: block;
  }

  &--closed .main-nav__list-wrapper {
    display: none;
  }

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--nojs .main-nav__list-wrapper {
    display: block;
    position: static;
  }
}

.main-nav__mobile-container {
  box-sizing: border-box;
  min-height: 68px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 4px 4px rgba(88, 13, 101, 0.25);
}

.main-nav__mobile-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-nav__logo-link {
  display: inline-block;
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 15px;

  &:hover .main-nav__logo-fill {
    color: $adding-light-green;
  }

  &:active .main-nav__logo-fill {
    color: $adding-pale-green;
  }

  &:focus {
    outline-color: $accent-green;
  }
}

.main-nav__logo-fill {
  color: $accent-green;
}

.main-nav__logo-text {
  display: none;
}

.main-nav__toggle {
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  background-color: $background-medium;
  border: none;
  cursor: pointer;

  &:hover .main-nav__burger,
  &:hover .main-nav__cross {
    fill: $adding-light-green;
  }

  &:active .main-nav__burger,
  &:active .main-nav__cross {
    fill: $adding-pale-green;
  }

  &:focus {
    outline-color: $accent-green;
  }
}

.main-nav__burger,
.main-nav__cross {
  fill: $accent-green;
}

.main-nav__list-wrapper {
  width: 100%;
  min-height: 360px - 16px;
  padding-top: 16px;
}

.main-nav__list {
  width: 264px;
  margin: 0 auto;
  padding: 0;
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  font-size: 20px;
  line-height: 23px;
  color: $text-black;

  &:hover {
    color: $adding-light-green;
  }

  &:active {
    color: $accent-green;
  }

  &:focus {
    outline-color: $accent-green;
  }
}
