.page-footer {
  background-color: $background-medium;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
