@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/comfortaaregular.woff2") format("woff2"), url("../fonts/comfortaaregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/ralewayregular.woff2") format("woff2"), url("../fonts/ralewayregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
